{% autoescape off %}
<!doctype html>
<html>
  <head>
    <title>Report</title>
  </head>
  <body>
    <h1>Report Generate 👾</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <label for="price">Upload csv to send all vulns</label>
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>

      <div class="form-group row">
        <label for="vulnerability">Vulnerability</label>
        <input type="text" class="form-control" name="vulnerability" id="vulnerability">
      
          <label for="price">Remediation</label>
          <input type="text" class="form-control" name="remediation" id="remediation">
      </div>
      <button type="btnAdd" class="btn btn-primary">Submit</button>
      <a href="/" class="btn btn-primary">Cancel</a>
      <div class="form-group db"></div>
     <p> <a href="/dblist" >DB List</a>
      <a href="/report" >Report</a></p>
    </div>


    </form>
  </body>
</html>
{% endautoescape %}