<!doctype html>
<html>
  <head>
    <title>Vulnerability</title>
  </head>

    <div>
    <a href="/">back</a>
    </div>
    
    <form class="form-inline" method="GET" action="/update_dropdown/">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Please select</span>
          Choose a Vulnerability
              <select name="comp_select" class="selectpicker form-control"  id="all_classes">
              {% for c in vulnList %}
              <option value="{{ c.id }}">{{ c.vulnerability }}</option>
              {% endfor %}
            </select>
             <input type="text" id="all_entries" name="fname"  class="result" value="{{vulnItem}}"><br><br>

        </div>
        
      </div>

      <script type="text/javascript">

        vuln_select = document.getElementById('all_classes')
       
    

        vuln_select.onchange = function (){

            console.log(vuln_select.value)

            fetch(`/update_dropdown/${vuln_select.value}`)
          .then(
            
            (response) => response.json()
         
          ).then(async function(data){

            
            const result = document.querySelector('.result');
          
            result.value = data['id']
            // console.log(vuln_select.value)
            // console.log(data['id'])

          

          })


        }

      </script>
    </form>

  </body>
</html>