<!doctype html>
<html>
  <head>
    <title>Vulnerability</title>
  </head>
  <h1>Report! 🐼 </h1>
    <div>
    <a href="/">back</a> <br><br>
    </div>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>


    <form class="form-inline" method="POST" action="/update_dropdown/" id="firstname1" >
      <label for="vulnerability">App Name</label>
      <input type="text" class="form-control" name="name" id="name">
      <label for="date">Date</label>
      <input type="date" class="form-control" name="date" id="date">
      <br><br>

      <label for="url">URL Tool</label>
      <input type="text" class="form-control" name="url" id="url">
      <label for="tool">Tool</label>
      <span> Security Tool</span>
      <select name="fname_tool" class="result7"  id="class_tool" >
        <option value="SAST">SAST</option>
        <option value="DAST">DAST</option>
        <option value="SCA">SCA</option>
      </select>
      <br><br>

      <span> False Positive:</span>
      <br><br>
      <label for="criticalvuln">Critical</label>
      <input type="text" class="form-criticalvuln" name="critical" id="criticalvuln">
      <label for="highvuln">High</label>
      <input type="text" class="form-highvuln" name="high" id="highvuln">
      <label for="medhvuln">Medium</label>
      <input type="text" class="form-mediumvuln" name="med" id="medhvuln">
      <button type = "button"  class="result4" onClick="window.open('/upload_photo/0', '', 'width=300,height=300')">Upload</button>
      <br><br>

    
    <!-- <form class="form-inline" method="POST" action="/update_dropdown/" id="firstname1" > -->
      <div class="input-group" id="group-id">
        <div id="employee_tbl">
         
              <span class="input-group-addon"> Choose a Vulnerability:</span>
         
              <select name="comp_select" class="selectpicker form-control"  id="all_classes">
              {% for c in vulnList %}
              <option value="{{ c.id }}">{{ c.vulnerability }}</option>
              {% endfor %}
            </select>
            
             <input type="text" id="all_entries" name="fname_detail"  class="result" value="{{vulnItem}}">
             <input type="text" id="all_entries2" name="fname_remediation"  class="result2" value="{{vulnItem}}">
             <input type="hidden" id="all_entries3" name="fname_vuln" class="result3" value="{{vulnItem}}">
             <input type="hidden" id="all_entries4" name="fname_reference" class="result6" value="{{vulnItem}}">
             <select name="fname_class" class="result5"  id="class_vuln" >
              <option value="High">High</option>
              <option value="Medium">Medium</option>
              <option value="Low">Low</option>
            </select>

          
             <input type="number" id="qtd" name="qtd" min="1" max="500" placeholder="Set Vuln quantity" class="result8">
             <!-- <button type = "button"  class="result4" onClick="window.location='/upload_photo/{{id}}'">Upload</button> -->
             <button type = "button"  class="result4" onClick="window.open('/upload_photo/1', '', 'width=300,height=300')">Upload</button>

             <i class="fas fa-plus-circle add_button"></i>

             <br><br>

             
              </div>
         
      </div>
      <input type="submit" name="op" value="Generate CSV"> 
      <input type="submit" name="op" value="Generate Excel"> 
      <!-- <button type="button"    onclick="window.location='/upload_photo/{{id}}'">Generate Excel</button> -->
      
      
    </form>
    
     
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script type="text/javascript">
        
        var tam= document.querySelectorAll('[id^="all_classes"]').length
        tam = tam-1
        
       
        vuln_select = document.querySelectorAll('[id^="all_classes"]')[tam]
       
       

        vuln_select.onchange = function (){

            

            fetch(`/update_dropdown/${vuln_select.value}`)
          .then(
            
            (response) => response.json()
         
          ).then(async function(data){

            const result = document.querySelectorAll('.result')[tam];
            // const result = document.querySelector('.result');
          
            result.value = data['detail']

            const result2 = document.querySelectorAll('.result2')[tam];
            // const result2 = document.querySelector('.result2');
          
            result2.value = data['id']
            // console.log(vuln_select.value)
            // console.log(data['id'])

            const result3 = document.querySelectorAll('.result3')[tam];
          
            result3.value = data['name']


            const result6 = document.querySelectorAll('.result6')[tam];
          
            result6.value = data['reference']
            

          })

        }


        $(document).ready(function () {

          // Input fields increment limitation
          var maxField = 50;
          // Add button selector
          var addButton = $('.add_button');
          // Input field wrapper
          var emp = $('#employee_tbl');
          // New input field html 
          let count =1

          var fieldHTML = `
            <div>
              
                <span class="input-group-addon"> Choose a Vulnerability:</span>
         
                  <select name="comp_select${count}" class="selectpicker form-control"  id="all_classes${count}">
                  {% for c in vulnList %}
                  <option value="{{ c.id }}">{{ c.vulnerability }}</option>
                  {% endfor %}
                </select>
               
                <input type="text" id="all_entries${count}" name="fname_detail${count}"  class="result" value="{{vulnItem}}">
                <input type="text" id="all_entries2${count}" name="fname_remediation${count}"  class="result2" value="{{vulnItem}}">
                <input type="hidden" id="all_entries3${count}" name="fname_vuln${count}" class="result3" value="{{vulnItem}}">
                <input type="hidden" id="all_entries4${count}" name="fname_reference${count}" class="result6" value="{{vulnItem}}">
                <select name="fname_class${count}" id="class_vuln${count}" class="result5">
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>

                <input type="number" id="qtd${count}" name="qtd${count}" min="1" max="500" placeholder="Set Vuln quantity" class="result8">
                <button type = "button" class="result4" onClick="window.open('/upload_photo/${x}', '', 'width=300,height=300')">Upload</button>
            
                <i class="fas fa-minus-circle remove_button"></i>
                <br><br>

              
            </div>`;

          var x = 2;

            // Once add button is clicked
          $(addButton).click(function () {
              // Check maximum number of input fields
              count++;

              if (x < maxField) { 
                // Increment field counter
                x++;
                // Add field html
                $(emp).append(fieldHTML);
                $(emp)
                .find("select")
                .each(function (x) {
                  $(this).attr("name", "comp_select" + x);
                  $(this).attr("id", "all_classes" + x);
                });
               

                $('.result').each(function (index,element) {
                element.setAttribute("id" , 'all_entries'+index);
                element.setAttribute("name" , 'fname_detail'+index);})
                
                $('.result2').each(function (index,element) {
                element.setAttribute("id" , 'all_entries2'+index);
                element.setAttribute("name" , 'fname_remediation'+index);})

                $('.result6').each(function (index,element) {
                element.setAttribute("id" , 'all_entries4'+index);
                element.setAttribute("name" , 'fname_reference'+index);})

                $('.result3').each(function (index,element) {
                element.setAttribute("id" , 'all_entries3'+index);
                element.setAttribute("name" , 'fname_vuln'+index);})


                $('.result4').each(function (index,element) {
                element.setAttribute("onclick" , `window.open('/upload_photo/${index}', '', 'width=300,height=300')`);
                })


                $('.result5').each(function (index,element) {
                element.setAttribute("id" , 'class_vuln'+index);
                element.setAttribute("name" , 'fname_class'+index);})

                $('.result8').each(function (index,element) {
                element.setAttribute("id" , 'qtd'+index);
                element.setAttribute("name" , 'qtd'+index);})
         
                


                var tam= document.querySelectorAll('[id^="all_classes"]').length
                tam = tam-1
                
                console.log(tam)
                vuln_select = document.querySelectorAll('[id^="all_classes"]')[tam]
               

                vuln_select.onchange = function (){

                    

                    fetch(`/update_dropdown/${vuln_select.value}`)
                  .then(
                    
                    (response) => response.json()
                
                  ).then(async function(data){

                    const result = document.querySelectorAll('.result')[tam];
                    
                    result.value = data['detail']

                    const result2 = document.querySelectorAll('.result2')[tam];
                    
                    result2.value = data['id']

                    const result3 = document.querySelectorAll('.result3')[tam];
          
                    result3.value = data['name']


                    const result6 = document.querySelectorAll('.result6')[tam];
          
                    result6.value = data['reference']

                   

                  })

                }


              }
            });

            // Once remove button is clicked
            $(emp).on('click', '.remove_button', function (evt) {
              evt.preventDefault();

              // Remove field html
              $(evt.target).closest('div').remove();
              // Decrement field counter
              x--;
            });


            
          });




        sub_select = document.getElementById('submit')



   

      </script>
    
  </body>
</html>