{% autoescape off %}
<!doctype html>
<html>
  <head>
    <title>Vulnerability</title>
  </head>
  <body>
    <h1>Vulnerability {{ vuln.vulnerability }}</h1>

    <div>
    <a href="/dblist">back</a>
    </div>
    <br><br>
    

    <form method="POST" action="" enctype="multipart/form-data">
    

      <div class="form-group row">
        <label for="vulnerability">Vulnerability</label>
        <input type="text" class="form-control" name="vulnerability" id="vulnerability" value="{{ vuln.vulnerability }}" rows="4" cols="50">

        <p><label for="price">Detail</label></p>
        <textarea type="text" class="form-control" name="detail" id="detail"  rows="4" cols="50">{{ vuln.detail }}</textarea>
      
        <p><label for="price">Remediation</label></p>
        <textarea type="text" class="form-control" name="remediation" id="remediation"  rows="4" cols="50">{{ vuln.remediation }}</textarea>

        <p><label for="price">Reference</label></p>
        <input type="text" class="form-control" name="reference" id="reference" value="{{ vuln.reference }}">
      </div>

      <br><br>
      <button type="btnAdd" class="btn btn-primary">Submit</button>
      

    </form>



  </body>
</html>
{% endautoescape %}