{% autoescape off %}
<!doctype html>
<html>
  <head>
    <title>Vulnerability</title>
  </head>
  <body>
    <h1>Vulnerability {{ vuln.vulnerability }}</h1>

    <div>
    <a href="/dblist">back</a>
    </div>
    

    <form method="POST" action="" enctype="multipart/form-data">
    

      <div class="form-group row">
        <label for="vulnerability">Vulnerability</label>
        <input type="text" class="form-control" name="vulnerability" id="vulnerability">

        <label for="price">Detail</label>
        <input type="text" class="form-control" name="detail" id="detail">
      
        <label for="price">Remediation</label>
        <input type="text" class="form-control" name="remediation" id="remediation">
      </div>
      <button type="btnAdd" class="btn btn-primary">Submit</button>
      

    </form>



  </body>
</html>
{% endautoescape %}